* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #1a1a1a;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 280px;/*Aumentar tamaño logo*/
    height: 280px;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.input-field {
    margin-bottom: 1rem;
    width: 100%;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-bottom: 1px solid #666;
    background-color: transparent;
    font-size: 1.0rem;
    color: white;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    border-bottom-color: #FFA500;
}

.forgot-password {
    text-align: right;
    margin-bottom: 1rem;
}

.forgot-password a {
    color: #FFA500;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-button {
    width: 100%;
    padding: 1rem;
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.register-link {
    color: white;
    text-align: center;
}

.register-link a {
    color: #FFA500;
    text-decoration: none;
    margin-left: 0.5rem;
}

/* Desktop styles */
@media (min-width: 768px) {
    .login-container {
        background-color: #222;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}